{% extends 'base.html' %}


{% block content %}
<p>Hello you are on the {{page}} page </p>

{% if number > 10 %}
<p>The number is greater than 10</p>
{% elif number == 10%}
<p>The number is 10</p>
{% else %}
<p>The number is less than 10</p>
{% endif %}


<hr>

<h1>
    projects
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Projects</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.id}} </td>
        <td>{{project.title}} </td>
        <td> {{project.vote_ratio}} </td>
        <td> {{project.vote_total}} </td>
        <td> {{project.created}} </td>
        <td><a href="/project/{{project.id}}">View</a></td>
    </tr>
    {% endfor %}
</table>

<!-- <ul>
    {% for project in projects %}
    <li>
        Title: <a href="/project/{{project.id}}">{{project.title}}</a> --- {{project.description}}
    </li>
    {% endfor %}
</ul> -->

{% endblock content %}